body {
    margin: 0;
    padding: 0;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #f8d9e3;
    background-image: url('../assets/quizBG.png');
    background-repeat: repeat;
}

.top {
    text-align: center;
}

.top-decor {
    width: 100%;
}

h1#title {
    text-align: center;
    font-size: 2rem;
    color: #67d0ba;
    margin: 20px 0;
    text-shadow: 1px 1px 2px #fff;
}

.content {
    margin: 0 auto;
    padding: 40px;
    max-width: 800px;
    min-height: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.btns {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 20px auto;
    padding: 0 40px;
}

.btn {
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

#back {
    background-color: #ea5d64;
    background-image: url('../assets/backIcon.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 25px 25px;
}

#next {
    background-color: #67d0ba;
    background-image: url('../assets/nextIcon.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 25px 25px;
}

.btn:hover {
    background-color: #ff787f;
    transform: translateY(-3px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.img {
    display: flex;
    justify-content: center;
}

.img img {
    width: 35%;
    height: 25%;
}

.codeimg {
    display: flex;
    justify-content: center;
}

.codeimg img {
    width: 45%;
    height: 30%;
}

p {
    font-size: 20px;
}

.logo {
    position: absolute;
    top: 0;
    left: 20px;
    width: 25vh;
    height: 25vh;
}

#next:hover {
    background-color: #7be1c4;
}

#question {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 22px;
}

.choices-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.choice {
    background-color: #f0f0f0;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.choice:hover {
    background-color: #e0e0e0;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 auto;
    padding: 40px 40px 20px;
    max-width: 800px;
    min-height: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.popup-image {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 200px;
    height: auto;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.popup-image.show {
    display: block;
    opacity: 1;
}

.code {
    background-color: #2d2d2d;
    color: #f8f8f2;
    padding: 15px;
    border-radius: 8px;
    font-family: 'Courier New', Courier, monospace;
    overflow-x: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}

.code p {
    margin: 0;
    line-height: 1.5;
}

.code .keyword {
    color: #66d9ef;
}

.code .tag {
    color: #b92895;
}

.code .string {
    color: #a6e22e;
}

.code .comment {
    color: #75715e;
}

.code .function {
    color: #fd971f;
}

li {
    font-size: 20px;
    margin-bottom: 8px;
    font-family:Arial, Helvetica, sans-serif;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-bar {
    width: 50%;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin: 0 20px;
    position: relative;
}

.progress {
    height: 100%;
    background-color: #67d0ba;
    width: 0%;
    border-radius: 5px;
    transition: width 0.3s ease;
}


@media (max-width: 768px) {
    .content {
        padding: 20px;
        min-height: 300px;
    }

    .btns {
        padding: 0 20px;
    }

    .btn {
        padding: 10px 20px;
        font-size: 1rem;
    }
}
