/* Reset some default browser styles */
body, h1, p, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('../assets/doodleBG.jpg');
    background-size: cover;
}

/* Logo styling */
#backBtn {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

#backBtn img {
    width: 20vh; /* Adjust size as needed */
    height: auto;
    transition: transform 0.3s ease;
    cursor: pointer;
}

#backBtn:hover img {
    transform: scale(1.1);
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    max-width: 90%;
    margin: auto;
}

h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1.5rem;
}

/* Grid layout for square download buttons */
.download-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 1rem;
    margin-top: 1.5rem;
}

.download-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 100%; /* This makes the buttons square */
    position: relative;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    overflow: hidden;
}

.download-button span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.download-button:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
}

.download-button:active {
    transform: translateY(1px);
}

/* Responsive Design */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 0.9rem;
    }

    .download-button {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.85rem;
    }

    .download-button {
        font-size: 0.85rem;
    }
}
